@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&family=Work+Sans:wght@300&display=swap');

:root {
    --primary-color: #564138;
    --secondary-color: #7ac4e3;
    --tertiary-color: #F6F5AE;
    --accent1-color: #F5F749;
    --accent2-color: #F24236;

    --heading-font: lato, serif;
    --paragraph-font: 'work sans', serif;

    --nav-background-color: #7ac4e3;
    --nav-link-color: #564138;
    --nav-hover-link-color: #eee;
    --nav-hover-background-color: #3c90b4;
}
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
p {
    padding: 20px;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1rem;
}
header img {
    max-width: 50px;
    height: auto;
}
header nav {
    display: flex;
    gap: 1rem;
}
.header-nav a {
    text-decoration: none;
    display: block;
    color: var(--nav-link-color);
    padding: 0.5rem;
}
.header-nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
nav a:link, nav a:visited {
    color: var(--nav-link-color);
}
footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
}
footer a {
    text-decoration: none;
}


h1 {
    position: absolute;
    top: 2rem;

    width: 100%;
    padding: 1rem;
    text-align: center;
    box-sizing: border-box;
    background-image: linear-gradient(90deg, #aaa3, #eee9);
}
article {
    position: absolute;
    top: 12rem;

    background-color: #7ce8;
    padding: 2rem;
    font-weight: bold;
    max-width: 75%;
}
article > img {
    float: right;
    max-width: 250px;
    height: auto;

    border: 1px solid #0008;
    margin-left: 1rem;
}
.hero {
    position: relative;
    
    display: flex;
    justify-content: center;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.adventure-img {
    width: 800px;
    height: auto;
}
.media-logo {
    width: 1rem;
    height: auto;
}