@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&family=Work+Sans:wght@300&display=swap');

:root {
    --primary-color: #564138;
    --secondary-color: #7ac4e3;
    --tertiary-color: #F6F5AE;
    --accent1-color: #F5F749;
    --accent2-color: #F24236;

    --heading-font: lato, serif;
    --paragraph-font: 'work sans', serif;

    --nav-background-color: #7ac4e3;
    --nav-link-color: #564138;
    --nav-hover-link-color: #eee;
    --nav-hover-background-color: #3c90b4;
}
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
p {
    padding: 20px;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    box-sizing: border-box;
    padding-inline: 2rem;
    padding-block: 1rem;
    background-color: var(--secondary-color);
    margin-bottom: 1rem;
}
header img {
    max-width: 50px;
    height: auto;
}
header nav {
    display: flex;
    justify-content: end;
    gap: 1rem;
}
header nav a {
    text-decoration: none;
    display: block;
    color: var(--nav-link-color);
    padding: 0.5rem;
    font-weight: 600;
}
header nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
nav a:link, nav a:visited {
    color: var(--nav-link-color);
}
footer {
    display: flex;
    align-items: center;
    background-image: linear-gradient(90deg, var(--secondary-color) 70%, #c1e6f5); /* make background lighter closer to the right side for media-logos to be more visible*/
}
footer p {
    margin-left: auto;
    margin-right: auto;
}
footer a {
    text-decoration: none;
}

h1 {
    position: absolute;
    top: 2rem;

    width: 100%;
    padding: 1rem;
    text-align: center;
    box-sizing: border-box;
    background-image: linear-gradient(90deg, #aaa3, #eee9);
}
h2{
    text-align: center;
}
article {
    position: absolute;
    top: 12rem;

    background-color: #7ce8;
    padding: 2rem;
    font-weight: bold;
    max-width: 75%;
}
article > img {
    float: right;
    max-width: 250px;
    height: auto;

    border: 1px solid #0008;
    margin-left: 1rem;
}
.hero {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.history {
    background-color: var(--accent1-color);
    padding-inline: 12rem;
    padding-block: 2rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
}
.history p {
    margin-bottom: 4rem;
    font-weight: 550; /* makes it easier to read */
}
.history img {
    max-width: 200px;
    height: auto;
    float: right;
    margin-left: 2rem;
}
.adventure {
    background-color: var(--tertiary-color);
    padding-block: 1rem;
    margin-bottom: 1rem;
}
.adventure div{
    display: flex;
    justify-content: space-evenly;
}
.adventure figure {
    margin: 0;
    text-align: center;
}
.adventure figure img {
    max-height: 100px;/* all images will be the same height */
    overflow: hidden;
    border: 1px solid #0007;
}
.adventure img {
    width: 150px;
    height: auto;
}

.media-links {
    display: flex;
    gap: 0.5rem;
    margin-right: 1rem;
}
.media-logo {
    width: 2rem;
    height: auto;
}