@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&family=Work+Sans:wght@300&display=swap');

:root {
    --primary-color: #564138;
    --secondary-color: #7ac4e3;
    --tertiary-color: #F6F5AE;
    --accent1-color: #F5F749;
    --accent2-color: #F24236;

    --heading-font: lato, serif;
    --paragraph-font: 'work sans', serif;

    --nav-background-color: #7ac4e3;
    --nav-link-color: #564138;
    --nav-hover-link-color: #eee;
    --nav-hover-background-color: #3c90b4;
}
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
p {
    padding: 20px;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    box-sizing: border-box;
    padding-inline: 2rem;
    padding-block: 1rem;
    background-color: var(--secondary-color);
    margin-bottom: 1rem;
}
header img {
    max-width: 50px;
    height: auto;
}
header nav {
    display: flex;
    justify-content: end;
    gap: 1rem;
}
header nav a {
    text-decoration: none;
    display: block;
    color: var(--nav-link-color);
    padding: 0.5rem;
    font-weight: 600;
}
header nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

h2{
    text-align: center;
}

/* Footer */
footer {
    display: flex;
    align-items: center;
    background-image: linear-gradient(90deg, var(--secondary-color) 70%, #c1e6f5); 
}


footer p {
    margin-left: auto;
    margin-right: auto;
}
footer a {
    text-decoration: none;
}
.media-links {
    display: flex;
    gap: 0.5rem;
    margin-right: 1rem;
}
.media-logo {
    width: 2rem;
    height: auto;
}

/* About.html */
.about-h1 {
    position: absolute;
    top: 2rem;

    width: 100%;
    padding: 1rem;
    text-align: center;
    box-sizing: border-box;
    background-image: linear-gradient(90deg, #aaa3, #eee9);
}

article {
    position: absolute;
    top: 12rem;

    background-color: #7ce8;
    padding: 2rem;
    font-weight: bold;
    max-width: 75%;
}
article > img {
    float: right;
    max-width: 250px;
    height: auto;

    border: 1px solid #0008;
    margin-left: 1rem;
}
.hero {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.history {
    background-color: var(--accent1-color);
    padding-inline: 12rem;
    padding-block: 2rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
}
.history p {
    margin-bottom: 4rem;
    font-weight: 550; /* makes it easier to read */
}
.history img {
    max-width: 200px;
    height: auto;
    float: right;
    margin-left: 2rem;
}
.adventure {
    background-color: var(--tertiary-color);
    padding-block: 1rem;
    margin-bottom: 1rem;
}
.adventure div{
    display: flex;
    justify-content: space-evenly;
}
.adventure figure {
    margin: 0;
    text-align: center;
}
.adventure figure img {
    max-height: 100px;/* all images will be the same height */
    overflow: hidden;
    border: 1px solid #0007;
}
.adventure img {
    width: 150px;
    height: auto;
}

/* contact.html */
.contact-h1 {
    text-align: center;
}

.information {
    width: 100%;
    border: 1px solid #000;
    background-image: linear-gradient(90deg, #eee, #ccc);
    box-sizing: border-box;
    padding: 1rem;
}
.information > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.info-element h3 {
    margin: 0.5rem;
    padding: 0;
}
.info-element p {
    margin-left: 2rem;
    padding: 0;
    font-weight: 600;
}
.info-map {
    grid-column: 2/3;
    grid-row: 1/4
}
.info-map iframe {
    border: none;
    width: 350px;
    height: 250px;
}

.employee-images {
    display: flex;
    width: 100%;
    border: 1px solid #000;
    background-color: var(--tertiary-color);
    box-sizing: border-box;
    padding: 1rem;
    justify-content: center;
    gap: 1rem;
}
.employee-img-element{
    width: 25%;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--accent1-color);
    border: 1px solid #0005;
}
.employee-img {
    width: 100px;
    height: auto;
    border: 1px solid #0007;
}
.employee-title {
    margin-block: 0;
}

.user-form legend {
    font-weight: 700;
    font-size: 1.5rem;
}
.user-form h3 {
    font-weight: 200;
}
.user-form label {
    margin-bottom: 1rem;
}
.user-form {
    width: 100%;
    border: 1px solid #000;
    background-color: #eee;
    box-sizing: border-box;
    padding: 1rem;
}
.user-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user-form fieldset {
    background-color: var(--tertiary-color);
    margin-top: 1rem;
    width: 90%;
}
.form-info .form-element{
    display: grid;
    grid-template-columns: 200px 300px;
    margin-top: 0.5rem;
}
.form-message-block input[type=radio] {
    margin-left: 2rem;
}
button[type=submit] {
    align-self: center;
    margin-top: 1rem;
    width: 200px;
    height: 1.5rem;
    border-radius: 0.5rem;
    background-color: var(--secondary-color);

    overflow: hidden;
    position: relative;
}
.form-element textarea {
    width: 100%;
}
button[type=submit]:hover::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #8884;
}

.contact-us-wireframe-link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 700;
}