@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&family=Work+Sans:wght@300&display=swap');

:root {
    --primary-color: #564138;
    --secondary-color: #7ac4e3;
    --tertiary-color: #F6F5AE;
    --accent1-color: #F5F749;
    --accent2-color: #F24236;

    --heading-font: lato, serif;
    --paragraph-font: 'work sans', serif;

    --nav-background-color: #7ac4e3;
    --nav-link-color: #564138;
    --nav-hover-link-color: #000000;
    --nav-hover-background-color: #3c90b4;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
header {
    padding: 15px;
    background-color: var(--accent1-color);
}
p {
    padding: 20px;
}
nav {
    background-color: var(--nav-background-color);
    font-size: 1.1rem;
    display: flex;
    
    justify-content: center;
    gap: 2rem;
    font-family: var(--heading-font);
}
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited {
    color: var(--nav-link-color);
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

/* Class Selectors */
.logo {
    width: 150px;
    height: auto;
}

.heading-font {
    font-family: var(--heading-font);
}
.paragraph-font {
    font-family: var(--paragraph-font);
}
.callout-font {
    font-family: var(--heading-font);
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    border: 3px solid var(--primary-color);
}
