* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

nav {
    background-color: rgb(65, 121, 168);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav a {
    display: block;
    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
}
h1 {
    color: steelblue;
    border-bottom: 2px solid steelblue;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

main {
    grid-column: 2/3;
    grid-row: 1/2;
}
main img {
    width: 150px;
    height: auto;
    border: 2px solid steelblue;
    box-shadow: 0 0 25px gray;
    float: right;
    margin-left: 1rem;
    border-radius: 10px;
}

p {
    padding: 0;

    margin: 1rem;
}
ul.box {
    padding-left: 2rem; /* indent */
}

aside {
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;

    height: 100%; /* stretch across the height of .grid */
    display: flex; /* more responsive centering */
    flex-direction: column;
    align-items: center;

}

aside h2 {
    position: absolute;
    top: 45px;
}
aside img {
    width: min(200px, 100%); /* shrinks the image as the aside shrinks */
    height: auto;
    border: 1px solid #777;
}
footer {
    margin-top: 1rem;
    border-top: 1px solid #0005;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid #0001;
    padding: 1rem;
    background-color: #eee;
    color: #222;
}
.grid {
    display: grid;
    align-items: center;
    grid-template-columns: 35% 65%;

    margin-top: 1rem;/* space between header and .grid */
}